p {
color: black;
font-size:20;
border-width:1px;
border-style: solid;
border-color:black;
display: inline-block;
width:20em;
}

.container {
  display: inline-block;
}

.left-div {
  display: inline-block;
  margin-left:30;
}
.right-div {
display: inline-block;
margin-left: 50;
margin-top: 50;
}
.choix {
  width:643px;
  	height:33px;
}
.input:target{
background-color: pink;
}
.b1 {
  	border-radius:2px;
  	box-shadow:1px 1px 3px #aaa;
  	background:#fff;
  	font:bold 18px Arial;
  	color:#555;
     cursor:pointer;
    padding: 10px 50px;
}
.b1:hover {
  background-color: #90EE90;
  color: white;
}
.b2{
  border-radius:2px;
  box-shadow:1px 1px 3px #aaa;
  background:#fff;
  font:bold 18px Arial;
  color:#555;
   cursor:pointer;
  padding: 10px 50px;
}
.b3 {
  border-radius:2px;
  box-shadow:1px 1px 3px #aaa;
  background:#fff;
  font:bold 18px Arial;
  color:#555;
   cursor:pointer;
  padding: 10px 50px;
}
.b4 {
  border-radius:2px;
  box-shadow:1px 1px 3px #aaa;
  background:#fff;
  font:bold 18px Arial;
  color:#555;
   cursor:pointer;
  padding: 10px 50px;
}
.b2:hover {
  background-color: #FFC0CB;
  color: white;
}
.b3:hover {
  background-color: #F0E68C;
  color: white;
}
.b4:hover {
  background-color: #B0E0E6;
  color: white;
}
